.callDetailsPage {
  margin-top: 3rem;
}

.callDetailsPage_audioPlayerDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.callDetailsPage_audioPlayer {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.callDetailsPage_audioPlayer:focus {
  outline: 0;
}

.callDetailsPage_callTranscriptDiv {
  margin-top: 1rem;
}
