* {
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
  padding: 0;
  margin: 0;
}
.App_CircleLoader_centeredDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
}